* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

section.hero {
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #000;
}

section.hero * {
    line-height: 0;
}

section.hero .contents {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
}

section.hero .main {
    opacity: 0;
}

section.hero .background {
    width: 102%;
    margin-left: -1%;
    margin-top: -1%;
    z-index: -199;
    pointer-events: none;
}

section.hero .moon {
    position: absolute;
    z-index: 9;
    width: 100%;
    pointer-events: none;
}

section.hero .moon .wrap {
    position: relative;
    left: 19.6%;
    width: 32%;
}

section.hero .moon-light {
    position: absolute;
    z-index: -1;
    animation: moon-light 4s ease infinite;
}

@keyframes moon-light {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

.trees {
    width: 102%;
    margin-left: -1%;
}

.logo {
    width: 35.5%;
    margin-left: 56.5%;
    margin-top: 1.5%;
}

.santas-car {
    width: 106%;
    margin-left: -3%;
    pointer-events: none;
}

.ground3 {
    width: 104%;
    margin-left: -2%;
    margin-top: 0.1%;
}

.ground2 {
    width: 106.1%;
    margin-left: -3%;
    margin-top: -0.5%;
}

.ground1 {
    width: 107%;
    margin-left: -3.5%;
    margin-top: -0.4%;
}

.house1 {
    width: 7.4%;
    margin-top: 29.9%;
    margin-left: -0.6%;
}

.house2 {
    width: 14.1%;
    margin-top: 40.6%;
    margin-left: 8.5%;
}

.house3 {
    width: 7.4%;
    margin-top: 31.3%;
    margin-left: 28.2%;
}

.house4 {
    width: 14.8%;
    margin-top: 36.3%;
    margin-left: 37.4%;
}

.house5 {
    width: 8.9%;
    margin-top: 38%;
    margin-left: 70.8%;
}

.house6 {
    width: 14.2%;
    margin-top: 37.7%;
    margin-left: 86%;
}

.christmas-tree {
    margin-top: 37%;
    margin-left: 21%;
    width: 11.85%;
}

.santa {
    width: 7%;
    margin-top: 38.5%;
    margin-left: 51.05%;
}

.sign {
    width: 6%;
    margin-top: 44.5%;
    margin-left: 83.05%;
}

.gift {
    width: 9.6%;
    margin-top: 43.2%;
    margin-left: 61.25%;
}

.tree1 {
    width: 13.4%;
    margin-top: 41.4%;
    margin-left: -0.35%;
}

.tree2 {
    width: 9.7%;
    margin-top: 38.85%;
    margin-left: 77.5%;
}

.tree3 {
    width: 12.5%;
    margin-top: 40.05%;
    margin-left: 94.3%;
}

.rode1 {
    width: 5.6%;
    margin-top: 45.6%;
    margin-left: 32.6%;
}

.rode2 {
    width: 5.6%;
    margin-top: 43.2%;
    margin-left: 71.1%;
}

.ground1,
.ground2,
.ground3,
.tree1,
.tree2,
.tree3 {
    pointer-events: none !important;
}

#scene {
    pointer-events: all !important;
}

#scene a {
    pointer-events: all !important;
}

#path {
    fill: transparent;
}

#scene img {
    transition: .3s ease;
}

.active img {
    transform: scale(1.1);
}

.title {
    position: absolute;
    bottom: 80%;
    right: 0;
    z-index: 999999;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transform: scale(.5);
    opacity: 0;
    transition: .3s;
    pointer-events: none;

}

.title p {
    font-family: sans-serif;
    font-size: 25px;
    text-align: right;
    color: #fff;
    border: 2px solid #1b306b;
    background-color: #4E94A8;
    line-height: 20px !important;
    display: inline-block;
    padding: 13px 15px;
    border-radius: 5px;
    white-space: nowrap;
}



.active .title {
    transform: scale(1);
    bottom: 105%;
    opacity: 1;
}

.house1 .title,
.house2 .title {
    right: auto;
    left: 0;
}

.links {
    position: relative;
}

.links svg {
    position: absolute;
    top: 0;
    left: 0;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    top: 0;
    left: 0;
    z-index: 99999;
    pointer-events: none;
}

@media(max-width:768px) {
    .title p {
        font-size: 16px;
        line-height: 11px !important;
        padding: 8px 10px;
    }
}
